# Writing Web Scrapping Code to Collect Images From Google

## loading the Libraries Necessaries

In [43]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from bs4 import BeautifulSoup
import time
import os 
import requests
import urllib

## Which Person Image do you Want to download And How much Images Do you Need

In [44]:
class_name = "My favourite"
search_term = "Elon Musk"
Images_needed = 30

## Setting according to your prefrences (with and without browser opening while collecting image)

In [45]:
# #To run without browser opening
# op = webdriver.ChromeOptions()
# op.add_argument('headless')
# driver = webdriver.Chrome(options=op)
# driver.get("https://google.com")

In [46]:
#to open browser while running (we can visualize)
driver = webdriver.Chrome()
driver.get("https://google.com")

## Setting the SearchBar in google And Entering the className

In [47]:
box = driver.find_element("xpath","/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input")
box.send_keys(search_term)
box.send_keys(Keys.ENTER)

## moving to the images tab in google

In [48]:
driver.find_element("xpath","//*[@id='hdtb-msb']/div[1]/div/div[2]/a").click()

## Getting the right amount of images needed from all the images in google images tab

In [49]:
starting_length = driver.execute_script("return document.body.scrollHeight")
finished_length = starting_length+1
Find_Images = True
while (starting_length != finished_length) & (Find_Images):
    starting_length = driver.execute_script("return document.body.scrollHeight")
    driver.execute_script("window.scrollTo(0,document.body.scrollHeight)")
    soup = BeautifulSoup(driver.page_source,"lxml")
    all_images = soup.find_all("div",class_="isv-r PNCib MSM1fd BUooTd")
    try:
        all_images = soup.find_all("div",class_="isv-r PNCib MSM1fd BUooTd")
        if len(all_images) <= Images_needed:
            time.sleep(5)
            finished_length = driver.execute_script("return document.body.scrollHeight")
        else:
            all_images = soup.find_all("div",class_="isv-r PNCib MSM1fd BUooTd")
            Find_Images = False
    except Exception as e:
        print(f"the exception occured as: {e}")
print("finished_scrolling")

finished_scrolling

### Trying the challenge

In [50]:
all_details = soup.find_all("div",class_="isv-r PNCib MSM1fd BUooTd")
if len(all_details) == 0 :
    driver.find_element("xpath",'//*[@id="hdtb-msb"]/div[1]/div/div[3]/a').click()
    starting_length = driver.execute_script("return document.body.scrollHeight")
    finished_length = starting_length+1
    Find_Images = True
    while (starting_length != finished_length) & (Find_Images):
        starting_length = driver.execute_script("return document.body.scrollHeight")
        driver.execute_script("window.scrollTo(0,document.body.scrollHeight)")
        soup = BeautifulSoup(driver.page_source,"lxml")
        all_images = soup.find_all("div",class_="isv-r PNCib MSM1fd BUooTd")
        try:
            all_images = soup.find_all("div",class_="isv-r PNCib MSM1fd BUooTd")
            if len(all_images) <= Images_needed:
                time.sleep(5)
                finished_length = driver.execute_script("return document.body.scrollHeight")
            else:
                all_images = soup.find_all("div",class_="isv-r PNCib MSM1fd BUooTd")
                Find_Images = False
        except Exception as e:
            print(f"the exception occured as: {e}")
    print("finished_scrolling")    
    all_details=soup.find_all("div",class_="isv-r PNCib MSM1fd BUooTd")

finished_scrolling

## Checking how many images we have

In [51]:
# soup = BeautifulSoup(driver.page_source,"html.parser")
soup = BeautifulSoup(driver.page_source,"html5lib")

In [52]:
all_images = soup.find_all("div",class_="isv-r PNCib MSM1fd BUooTd")
len(all_images)

100

In [53]:
import pandas as pd
index = int(len(all_images))
index

100

In [54]:
dataframe = pd.DataFrame(columns=["Blog_Link","Title","Source_Name"])
dataframe

Empty DataFrame
Columns: [Blog_Link, Title, Source_Name]
Index: []

In [55]:
for detail in all_details[:index]:
    link_and_title = detail.find("a",class_="VFACy kGQAp sMi44c d0NI4c lNHeqe WGvvNb")
    link = link_and_title.get("href")
    title = link_and_title.get("title")
    source = link_and_title.find("div",class_="dmeZbb").text
    dataframe = pd.concat([dataframe,pd.DataFrame({dataframe.columns[0]:[link],dataframe.columns[1]:[title],
                                                    dataframe.columns[2]:[source]})],ignore_index=True)
dataframe.head()

,Blog_Link,Title,Source_Name
0,https://www.rollingstone.com/culture/culture-n...,Elon Musk Reportedly Fires Twitter Engineer Ov...,Rolling Stone
1,https://en.wikipedia.org/wiki/Elon_Musk,Elon Musk - Wikipedia,Wikipedia
2,https://www.cnbc.com/2023/02/08/biden-billiona...,Biden billionaire minimum tax: What Elon Musk ...,CNBC
3,https://www.britannica.com/biography/Elon-Musk,"Elon Musk | Biography, SpaceX, Tesla, Twitter,...",Encyclopedia Britannica
4,https://www.hollywoodreporter.com/business/bus...,"Elon Musk, Tesla Beat Investor Suit Over 'Fund...",The Hollywood Reporter

## Creating a folder with a Class_name

In [56]:
path = os.path.join(os.getcwd(),f"{class_name}")
os.makedirs(path,exist_ok=True)

In [57]:
# os.listdir(path)

## Final Total Number Of Images

In [58]:
# #to get a image file without compression
# import urllib.request
# image_url = "give any image url from google we can get a image file without compression :)"
# request = urllib.request.Request(image_url, headers={"Accept-Encoding": "identity"})
# response = urllib.request.urlopen(request)
# with open("image.jpg", "wb") as f:
#     f.write(response.read())

In [59]:
dataframe

,Blog_Link,Title,Source_Name
0,https://www.rollingstone.com/culture/culture-n...,Elon Musk Reportedly Fires Twitter Engineer Ov...,Rolling Stone
1,https://en.wikipedia.org/wiki/Elon_Musk,Elon Musk - Wikipedia,Wikipedia
2,https://www.cnbc.com/2023/02/08/biden-billiona...,Biden billionaire minimum tax: What Elon Musk ...,CNBC
3,https://www.britannica.com/biography/Elon-Musk,"Elon Musk | Biography, SpaceX, Tesla, Twitter,...",Encyclopedia Britannica
4,https://www.hollywoodreporter.com/business/bus...,"Elon Musk, Tesla Beat Investor Suit Over 'Fund...",The Hollywood Reporter
...,...,...,...
95,https://www.xprize.org/about/people/elon-musk,XPRIZE Foundation Bio - Elon Musk,XPRIZE Foundation
96,https://www.theverge.com/2022/10/27/23184519/e...,Twitter is now an Elon Musk company - The Verge,The Verge
97,https://ktla.com/news/elon-musk-secures-record...,Elon Musk secures record for largest-ever loss...,KTLA
98,https://nymag.com/intelligencer/2022/10/elon-m...,Elon Musk's Incredible Shrinking Future,New York Magazine
99,https://techcrunch.com/2022/03/01/elon-musk-an...,Elon Musk and Tesla need a Tim Cook | TechCrunch,TechCrunch

In [61]:
len(all_images)

100

In [62]:
dataframe["Images"] = None
for i,image_link in enumerate(all_images):
    imageurl = image_link.find("img",class_="rg_i Q4LuWd").get("src")
    alt_image_url = image_link.find("img",class_="rg_i Q4LuWd").get("data-src")
    try:
        dataframe.iloc[i,-1] = imageurl if imageurl != None else None
        urllib.request.urlretrieve(imageurl,f"{path}/{search_term}_image_{i}.jpg")
    except Exception as e:
        dataframe.iloc[i,-1] = alt_image_url if alt_image_url != None else None
        urllib.request.urlretrieve(alt_image_url,f"{path}/{search_term}image_{i}.jpg")
        pass

## total Number of images

In [63]:
len(os.listdir(path))

100

In [64]:
dataframe.head()

,Blog_Link,Title,Source_Name,Images
0,https://www.rollingstone.com/culture/culture-n...,Elon Musk Reportedly Fires Twitter Engineer Ov...,Rolling Stone,"data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA..."
1,https://en.wikipedia.org/wiki/Elon_Musk,Elon Musk - Wikipedia,Wikipedia,"data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA..."
2,https://www.cnbc.com/2023/02/08/biden-billiona...,Biden billionaire minimum tax: What Elon Musk ...,CNBC,"data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA..."
3,https://www.britannica.com/biography/Elon-Musk,"Elon Musk | Biography, SpaceX, Tesla, Twitter,...",Encyclopedia Britannica,"data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA..."
4,https://www.hollywoodreporter.com/business/bus...,"Elon Musk, Tesla Beat Investor Suit Over 'Fund...",The Hollywood Reporter,"data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA..."

In [65]:
def path_to_image_html(path):
    return '<img src ="'+ path + '" width="120" >'

In [66]:
pd.set_option('colheader_justify', 'center')

In [67]:
dataframe.to_html(f"{search_term}_data.html",escape=False,formatters=dict(Images=path_to_image_html))

In [68]:
dataframe["Images"][21]

'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQnz4PBg-fQ2UhXrXxbCz-HPj1AztzB4HW8Qg&usqp=CAU'

# Doing it all at once